{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="container mt-4">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Statistics -->
    <div class="row text-center mb-3">
        <div class="col-md-3 mb-2">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h5 class="card-title">Total Students</h5>
                    <h3 class="text-primary">{{ total_students }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h5 class="card-title">Total Companies</h5>
                    <h3 class="text-success">{{ total_companies }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h5 class="card-title">Total Placement Drives</h5>
                    <h3 class="text-danger">{{ total_drives }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h5 class="card-title">Total Student Applications</h5>
                    <h3 class="text-warning">{{ total_student_applications }}</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Bar -->
    <form class="w-75 mx-auto shadow p-3 mb-4 bg-white rounded" method="get" action="{{ url_for('admin_dashboard') }}">
        <div class="input-group">
            <input type="text" name="search" class="form-control rounded me-2"
                placeholder="Search Students, Companies..." value="{{ search_query }}">
            <button class="btn btn-primary rounded" type="submit">Search</button>
        </div>
    </form>

    <!-- Students -->
    <h3 class="mt-5">Registered Students</h3>
    <div class="card shadow-sm mt-3">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <tbody>
                    {% for student in students %}
                    <tr class="{% if student.student_is_blacklisted %}table-danger{% endif %}">
                        <td class="align-middle">
                            {% if student.student_is_blacklisted %}
                            <span class="badge bg-danger">Blacklisted</span>
                            {% else %}
                            <span class="badge bg-success">Active</span>
                            {% endif %}

                            <strong class="ms-2">{{ student.student_name }}</strong><br>
                            <small><b>Student Id:</b> {{ student.student_id }}</small><br>
                            <small><b>Email:</b> {{ student.student_email }}</small><br>
                            <small><b>Department:</b> {{ student.student_department }}</small> |
                            <small><b>Year:</b> {{ (current_year - student.student_joining_year) }}</small> |
                            <small><b>CGPA:</b> {{ student.student_cgpa }}</small>
                        </td>

                        <td class="text-end align-middle">
                            <form method="POST"
                                action="{{ url_for('toggle_blacklist_student', student_id=student.student_id) }}"
                                style="display: inline;">

                                {% if student.student_is_blacklisted %}
                                <button type="submit" class="btn btn-success me-2">
                                    Unblacklist
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-secondary me-2">
                                    Blacklist
                                </button>
                                {% endif %}

                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="text-center p-3">No Students Found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Registered Companies -->
    <h3 class="mt-5">Registered Companies</h3>
    <div class="card shadow-sm mt-3">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <tbody>

                    {% for company in registered_companies %}
                    <tr class="{% if company.company_is_blacklisted %}table-danger{% endif %}">

                        <!-- COMPANY INFO -->
                        <td class="align-middle">

                            {% if company.company_is_blacklisted %}
                            <span class="badge bg-danger mb-1">Blacklisted</span><br>
                            {% else %}
                            <span class="badge bg-success mb-1">Active</span><br>
                            {% endif %}

                            <strong>{{ company.company_name }}</strong><br>
                            <small><b>Email:</b> {{ company.company_email }}</small><br>
                            <small><b>Industry:</b> {{ company.company_industry }}</small>

                        </td>

                        <!-- ACTION BUTTONS -->
                        <td class="text-end align-middle">

                            <!-- VIEW BUTTON -->
                            <button class="btn btn-info me-1" data-bs-toggle="modal"
                                data-bs-target="#companyModal{{ company.company_id }}">
                                View
                            </button>

                            <!-- TOGGLE BLACKLIST BUTTON -->
                            <form method="POST"
                                action="{{ url_for('toggle_blacklist_company', company_id=company.company_id) }}"
                                style="display:inline;">

                                {% if company.company_is_blacklisted %}
                                <button type="submit" class="btn btn-success">
                                    Unblacklist
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-secondary">
                                    Blacklist
                                </button>
                                {% endif %}

                            </form>

                        </td>
                    </tr>


                    <!-- COMPANY DETAILS MODAL -->
                    <div class="modal fade" id="companyModal{{ company.company_id }}" tabindex="-1">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Header -->
                                <div class="modal-header bg-dark text-white">
                                    <h5 class="modal-title">
                                        {{ company.company_name }} - Details
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                                    </button>
                                </div>

                                <!-- Body -->
                                <div class="modal-body">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <p><strong>Email:</strong> {{ company.company_email }}</p>
                                            <p><strong>Industry:</strong> {{ company.company_industry }}</p>
                                            <p><strong>Contact Person:</strong> {{ company.contact_person }}</p>
                                            <p><strong>Contact Number:</strong> {{ company.contact_number }}</p>
                                        </div>

                                        <div class="col-md-6">
                                            <p><strong>Location:</strong> {{ company.company_location }}</p>
                                            <p><strong>Website:</strong> {{ company.company_website }}</p>
                                            <p><strong>Registered On:</strong> {{ company.created_at }}</p>
                                            <p><strong>Status:</strong>

                                                {% if company.company_is_blacklisted %}
                                                <span class="badge bg-danger">Blacklisted</span>
                                                {% elif company.company_is_approved %}
                                                <span class="badge bg-success">Approved</span>
                                                {% elif company.company_is_rejected %}
                                                <span class="badge bg-warning text-dark">Rejected</span>
                                                {% else %}
                                                <span class="badge bg-secondary">Pending</span>
                                                {% endif %}

                                            </p>
                                        </div>

                                    </div>

                                    <hr>

                                    <p><strong>Description:</strong></p>
                                    <p>{{ company.company_description }}</p>

                                </div>

                                <!-- Footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% else %}
                    <tr>
                        <td class="text-center p-3">
                            No Companies Found
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <!-- Company Applications -->
    <h3 class="mt-5">Company Applications</h3>
    <div class="card shadow-sm mt-3">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <tbody>

                    {% for company in companies %}
                    <tr class="
                    {% if company.company_is_approved %}table-success
                    {% elif company.company_is_rejected %}table-warning
                    {% endif %}">

                        <!-- COMPANY INFO -->
                        <td class="align-middle">

                            {% if company.company_is_approved %}
                            <span class="badge bg-success mb-1">Approved</span><br>
                            {% elif company.company_is_rejected %}
                            <span class="badge bg-warning text-dark mb-1">Rejected</span><br>
                            {% else %}
                            <span class="badge bg-secondary mb-1">Pending</span><br>
                            {% endif %}

                            <strong>{{ company.company_name }}</strong><br>
                            <small><b>Email:</b> {{ company.company_email }}</small><br>
                            <small><b>Industry:</b> {{ company.company_industry }}</small>

                        </td>

                        <!-- ACTION BUTTONS -->
                        <td class="text-end align-middle">

                            <!-- VIEW BUTTON -->
                            <button class="btn btn-info me-1" data-bs-toggle="modal"
                                data-bs-target="#companyModal{{ company.company_id }}">
                                View
                            </button>

                            <!-- APPROVE BUTTON -->
                            {% if not company.company_is_approved %}
                            <form method="POST" action="{{ url_for('approve_company', company_id=company.company_id) }}"
                                style="display:inline;">
                                <button type="submit" class="btn btn-success me-1">
                                    Approve
                                </button>
                            </form>
                            {% else %}
                            <button class="btn btn-success me-1" disabled>
                                Approved
                            </button>
                            {% endif %}

                            <!-- REJECT BUTTON -->
                            {% if not company.company_is_rejected %}
                            <form method="POST" action="{{ url_for('reject_company', company_id=company.company_id) }}"
                                style="display:inline;">
                                <button type="submit" class="btn btn-danger">
                                    Reject
                                </button>
                            </form>
                            {% else %}
                            <button class="btn btn-danger" disabled>
                                Rejected
                            </button>
                            {% endif %}

                        </td>
                    </tr>


                    <!-- COMPANY DETAILS MODAL -->
                    <div class="modal fade" id="companyModal{{ company.company_id }}" tabindex="-1">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Header -->
                                <div class="modal-header bg-dark text-white">
                                    <h5 class="modal-title">
                                        {{ company.company_name }} - Details
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                                    </button>
                                </div>

                                <!-- Body -->
                                <div class="modal-body">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <p><strong>Email:</strong> {{ company.company_email }}</p>
                                            <p><strong>Industry:</strong> {{ company.company_industry }}</p>
                                            <p><strong>Contact Person:</strong> {{ company.company_hr_contact_name }}</p>
                                            <p><strong>Person's Email:</strong> {{ company.company_hr_contact_email }}</p>
                                        </div>

                                        <div class="col-md-6">
                                            <p><strong>Location:</strong> {{ company.company_location }}</p>
                                            <p><strong>Website:</strong> {{ company.company_website }}</p>
                                            <p><strong>Registered On:</strong> {{ company.created_at }}</p>
                                            <p><strong>Status:</strong>

                                                {% if company.company_is_blacklisted %}
                                                <span class="badge bg-danger">Blacklisted</span>
                                                {% elif company.company_is_approved %}
                                                <span class="badge bg-success">Approved</span>
                                                {% elif company.company_is_rejected %}
                                                <span class="badge bg-warning text-dark">Rejected</span>
                                                {% else %}
                                                <span class="badge bg-secondary">Pending</span>
                                                {% endif %}

                                            </p>
                                        </div>

                                    </div>

                                    <hr>

                                    <p><strong>Description:</strong></p>
                                    <p>{{ company.company_description }}</p>

                                </div>

                                <!-- Footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% else %}
                    <tr>
                        <td class="text-center p-3">
                            No Companies Found
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <!-- Ongoing Drives -->
    <h3 class="mt-5">Ongoing Drives</h3>
    <div class="card shadow-sm mt-3">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <tbody>

                    {% for drive in drives %}
                    <tr class="{% if drive.drive_is_rejected %} table-danger {% endif %}">

                        <!-- DRIVE INFO -->
                        <td class="align-middle">

                            <!-- Label -->
                            {% if drive.drive_status == 'open' and drive.drive_is_approved == True %}
                            <span class="badge bg-success mb-1">Active</span><br>
                            {% elif drive.drive_status == 'closed' and drive.drive_is_approved == True %}
                            <span class="badge bg-warning text-dark mb-1">Closed</span><br>
                            {% elif drive.drive_is_approved == False and drive.drive_is_rejected == False %}
                            <span class="badge bg-secondary mb-1">Pending</span><br>
                            {% elif drive.drive_is_rejected == True %}
                            <span class="badge bg-danger mb-1">Rejected</span><br>
                            {% endif %}

                            <strong>{{ drive.drive_name }}</strong><br>
                            <small><b>Job Title:</b> {{ drive.job_title }}</small><br>
                            <small><b>Company Name:</b> {{ drive.company.company_name }}</small>

                        </td>

                        <!-- ACTION BUTTONS -->
                        <td class="text-end align-middle">

                            <!-- VIEW BUTTON -->
                            <button class="btn btn-info me-1" data-bs-toggle="modal"
                                data-bs-target="#driveModal{{ drive.drive_id }}">
                                View
                            </button>

                            <!-- REJECTED -->
                            {% if drive.drive_is_rejected %}

                            <button class="btn btn-secondary me-1" disabled>
                                Mark as Complete
                            </button>

                            <button class="btn btn-success me-1" disabled>
                                Approved
                            </button>

                            <button class="btn btn-danger" disabled>
                                Rejected
                            </button>

                            <!-- APPROVED & CLOSED -->
                            {% elif drive.drive_is_approved and drive.drive_status == "closed" %}

                            <button class="btn btn-secondary me-1" disabled>
                                Completed
                            </button>

                            <button class="btn btn-success me-1" disabled>
                                Approved
                            </button>

                            <button class="btn btn-danger" disabled>
                                Reject
                            </button>

                            <!-- APPROVED & OPEN -->
                            {% elif drive.drive_is_approved and drive.drive_status == "open" %}

                            <form method="POST" action="{{ url_for('close_drive', drive_id=drive.drive_id) }}"
                                style="display:inline;">
                                <button type="submit" class="btn btn-secondary me-1">
                                    Mark as Complete
                                </button>
                            </form>

                            <button class="btn btn-success me-1" disabled>
                                Approved
                            </button>

                            <form method="POST" action="{{ url_for('reject_drive', drive_id=drive.drive_id) }}"
                                style="display:inline;">
                                <button type="submit" class="btn btn-danger">
                                    Reject
                                </button>
                            </form>

                            <!-- PENDING -->
                            {% else %}

                            <button class="btn btn-secondary me-1" disabled>
                                Mark as Complete
                            </button>

                            <form method="POST" action="{{ url_for('approve_drive', drive_id=drive.drive_id) }}"
                                style="display:inline;">
                                <button type="submit" class="btn btn-success me-1">
                                    Approve
                                </button>
                            </form>

                            <form method="POST" action="{{ url_for('reject_drive', drive_id=drive.drive_id) }}"
                                style="display:inline;">
                                <button type="submit" class="btn btn-danger">
                                    Reject
                                </button>
                            </form>

                            {% endif %}
                        </td>
                    </tr>

                    <!-- DRIVE DETAILS MODAL -->
                    <div class="modal fade" id="driveModal{{ drive.drive_id }}" tabindex="-1">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Header -->
                                <div class="modal-header bg-dark text-white">
                                    <h5 class="modal-title">
                                        {{ drive.drive_name }} - Details
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                                    </button>
                                </div>

                                <!-- Body -->
                                <div class="modal-body">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <p><strong>Company Name:</strong> {{ drive.company.company_name }}</p>
                                            <p><strong>Job Title:</strong> {{ drive.job_title }}</p>
                                            <p><strong>Contact Person: </strong> {{
                                                drive.company.company_hr_contact_name }}</p>
                                            <p><strong>Contact Email:</strong> {{ drive.company.company_hr_contact_email
                                                }}</p>
                                            <p><strong>Location:</strong> {{ drive.job_location }}</p>
                                        </div>

                                        <div class="col-md-6">
                                            <p><strong>Salary Range:</strong> {{ drive.job_salary_range }}</p>
                                            <p><strong>Eligibility Criteria:</strong> {{ drive.job_eligibility_criteria
                                                }}</p>
                                            <p><strong>Number of Positions:</strong> {{ drive.job_no_of_positions }}</p>
                                            <p><strong>Status:</strong>

                                                {% if not drive.drive_status == 'open' and not drive.drive_is_rejected
                                                %}
                                                <span class="badge bg-warning text-dark">Closed</span>
                                                {% elif drive.drive_is_approved %}
                                                <span class="badge bg-success">Approved</span>
                                                {% elif drive.drive_is_rejected %}
                                                <span class="badge bg-danger">Rejected</span>
                                                {% else %}
                                                <span class="badge bg-secondary">Pending</span>
                                                {% endif %}

                                            </p>
                                        </div>

                                    </div>

                                    <p><strong>Deadline:</strong> {{ drive.application_deadline }}</p>

                                    <hr>

                                    <p><strong>Description:</strong></p>
                                    <p>{{ drive.job_description }}</p>

                                </div>

                                <!-- Footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Go Back
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}
                    <tr>
                        <td class="text-center p-3">
                            No Companies Found
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <!-- Student Applications -->
    <h3 class="mt-5">Student Applications</h3>
    <div class="card shadow-sm mt-3">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <thead class="table-secondary">
                    <tr>
                        <th>Student Name</th>
                        <th class="text-center">Drive Name</th>
                        <th class="text-center">Company</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for application in applications %}
                    <tr>

                        <!-- Student Name -->
                        <td class="align-middle">
                            {{ application.student.student_name }}
                        </td>

                        <!-- Drive Name -->
                        <td class="align-middle text-center">
                            {{ application.placement_drive.drive_name }}
                        </td>

                        <!-- Company Name -->
                        <td class="align-middle text-center">
                            {{ application.placement_drive.company.company_name }}
                        </td>

                        <!-- Application Date -->
                        <td class="align-middle text-center">
                            {{ application.application_date.strftime('%d %b %Y') }}
                        </td>

                        <!-- Action -->
                        <td class="text-center align-middle ">
                            <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                                data-bs-target="#applicationModal{{ application.application_id }}">
                                View
                            </button>
                        </td>

                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="applicationModal{{ application.application_id }}" tabindex="-1"
                        aria-hidden="true">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- HEADER -->
                                <div class="modal-header bg-dark text-white">
                                    <h5 class="modal-title">
                                        Student Application Details
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                                    </button>
                                </div>

                                <!-- BODY -->
                                <div class="modal-body">
                                    <p><strong>Student :</strong> {{ application.student.student_name }}</p>
                                    <p><strong>Email :</strong> {{ application.student.student_email }}</p>
                                    <p><strong>Department :</strong> {{ application.student.student_department }}</p>
                                    <hr>
                                    <p><strong>Drive :</strong> {{ application.placement_drive.drive_name }}</p>
                                    <p><strong>Company :</strong> {{ application.placement_drive.company.company_name }}
                                    </p>
                                    <p><strong>Job Role :</strong> {{ application.placement_drive.job_title }}</p>
                                    <p><strong>Status:</strong>
                                        {% if application.application_status == 'selected' %}
                                        <span class="badge bg-success">Selected</span>
                                        {% elif application.application_status == 'rejected' %}
                                        <span class="badge bg-danger">Rejected</span>
                                        {% elif application.application_status == 'shortlisted' %}
                                        <span class="badge bg-warning text-dark">Shortlisted</span>
                                        {% else %}
                                        <span class="badge bg-secondary">Pending</span>
                                        {% endif %}
                                    </p>
                                </div>

                                <!-- Footer -->
                                <div class="modal-footer">

                                    {% if application.student.student_resume_filename %}
                                    <a href="{{ url_for('view_resume', application_id=application.application_id) }}"
                                        target="_blank" class="btn btn-primary">
                                        View Resume
                                    </a>
                                    {% else %}
                                    <button class="btn btn-secondary" disabled>
                                        Resume Not Uploaded
                                    </button>
                                    {% endif %}

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Go Back
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}